@font-face {
    font-family: "Open Sans Normal";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Normal"), 
    url("./../fonts/open-sans-v34-latin_cyrillic-regular.woff2") format("woff2"),
    url("./../fonts/open-sans-v34-latin_cyrillic-regular.woff") format("woff"),
    url("./../fonts/open-sans-v34-latin_cyrillic-regular.ttf") format("ttf"),
    url("./../fonts/open-sans-v34-latin_cyrillic-regular.eot") format("eot");
}
@font-face {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), 
    url("./../fonts/open-sans-v34-latin_cyrillic-700.woff2") format("woff2"),
    url("./../fonts/open-sans-v34-latin_cyrillic-700.woff") format("woff"),
    url("./../fonts/open-sans-v34-latin_cyrillic-700.ttf") format("ttf"),
    url("./../fonts/open-sans-v34-latin_cyrillic-700.eot") format("eot");
}
@font-face {
    font-family: "Open Sans Semi-Bold";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semi-Bold"), 
    url("./../fonts/open-sans-v34-latin_cyrillic-600.woff2") format("woff2"),
    url("./../fonts/open-sans-v34-latin_cyrillic-600.woff") format("woff"),
    url("./../fonts/open-sans-v34-latin_cyrillic-600.ttf") format("ttf"),
    url("./../fonts/open-sans-v34-latin_cyrillic-600.eot") format("eot");
}
@font-face {
    font-family: "Raleway Normal";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway Normal"), 
    url("./../fonts/raleway-v28-latin_cyrillic-regular.woff2") format("woff2"),
    url("./../fonts/raleway-v28-latin_cyrillic-regular.woff") format("woff"),
    url("./../fonts/raleway-v28-latin_cyrillic-regular.ttf") format("ttf"),
    url("./../fonts/raleway-v28-latin_cyrillic-regular.eot") format("eot");
}
 
* {
    box-sizing: border-box;
}
button {
    border: none;
    outline: none;
}
p {
    margin: 0;
}
.tabs {
    margin-top: 100px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.tabs__header{
    white-space: nowrap;
    display: flex;
    margin-bottom: -1px;
}
.tab__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 19px;
    text-decoration: none;
    font-family: "Open Sans Normal";
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    z-index: 50;
}
.tab__link:hover {
    transition: 0.2s;
    color: #EC7979;
}
.tab__link:first-child {
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-top: 1px solid #C6CBCD;
    border-bottom: 3px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 201px;
}
.tab__link:last-child, .tab__link:nth-child(2) {
    width: 184px;
}
.tabs__section {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 500px;
    border: 1px solid #C6CBCD;
}
.tabs__info {
    max-width: 700px;
}
.tabs__info__headline {
    display: flex;
    align-items: center;
    font-family: "Open Sans Bold";
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    max-width: 570px;
    height: 124px;
    margin-left: 100px;
    overflow: hidden;
}
.tabs__info__text {
    font-family: "Raleway Normal";
    font-weight: 400;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 27px;
    max-width: 570px;
    max-height: 220px;
    overflow: auto;
}
.tabs__info__text>p:nth-of-type(7) {
    margin-top: 20px;
}

#tabs__section__button {
    font-family: "Open Sans Semi-Bold";
    font-weight: 600;
    font-size: 18px;
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    color:#FFFFFF;
    text-align: center;
    margin-left: 100px;
    margin-top: 27px;
    cursor: pointer;
}
#tabs__section__button:hover {
    transition: all 0.3s ease-in 0.1s;
    margin-top: 28px;
    background-color: #e08b8b;
    color: white; 
}
.tabs__aside-image {
    max-width: 470px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.tabs__aside-image>img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}