@font-face {
    font-family: "Open Sans Normal";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Normal"), 
    url("./../fonts/open-sans-v34-latin_cyrillic-regular.woff2") format("woff2"),
    url("./../fonts/open-sans-v34-latin_cyrillic-regular.woff") format("woff"),
    url("./../fonts/open-sans-v34-latin_cyrillic-regular.ttf") format("ttf"),
    url("./../fonts/open-sans-v34-latin_cyrillic-regular.eot") format("eot");
}
@font-face {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), 
    url("./../fonts/open-sans-v34-latin_cyrillic-700.woff2") format("woff2"),
    url("./../fonts/open-sans-v34-latin_cyrillic-700.woff") format("woff"),
    url("./../fonts/open-sans-v34-latin_cyrillic-700.ttf") format("ttf"),
    url("./../fonts/open-sans-v34-latin_cyrillic-700.eot") format("eot");
}
@font-face {
    font-family: "Open Sans Semi-Bold";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semi-Bold"), 
    url("./../fonts/open-sans-v34-latin_cyrillic-600.woff2") format("woff2"),
    url("./../fonts/open-sans-v34-latin_cyrillic-600.woff") format("woff"),
    url("./../fonts/open-sans-v34-latin_cyrillic-600.ttf") format("ttf"),
    url("./../fonts/open-sans-v34-latin_cyrillic-600.eot") format("eot");
}
@font-face {
    font-family: "Raleway Normal";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway Normal"), 
    url("./../fonts/raleway-v28-latin_cyrillic-regular.woff2") format("woff2"),
    url("./../fonts/raleway-v28-latin_cyrillic-regular.woff") format("woff"),
    url("./../fonts/raleway-v28-latin_cyrillic-regular.ttf") format("ttf"),
    url("./../fonts/raleway-v28-latin_cyrillic-regular.eot") format("eot");
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin-top: 109px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 29px;
}
.nav__link2, .nav__link3 {
    white-space: nowrap;
    max-width: 200px;
    padding: 10px 75px;
    text-decoration: none;
    font-family: "Open Sans Bold";
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #C6CBCD;
}
.nav__link3 {
    padding-right: 715px;
}

.nav__link1 {
    max-width: 200px;
    padding: 10px 75px;
    text-decoration: none;
    font-family: "Open Sans Bold";
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-top: 1px solid #C6CBCD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    white-space: nowrap;
}

nav {
    display: flex;
    margin-left: 75px;
    width: 1170px;
    justify-content: flex-start;
}

section {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    border-bottom: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    width: 1170px;
    height: 440px;
}
.section__headline {
    display: flex;
    align-items: center;
    height: 124px;
    margin-top: 62px;
}
h3 {
    font-family: "Open Sans Bold";
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    padding-left: 100px;
    text-align: left;
}
.section__text {
    font-family: "Raleway Normal";
    font-weight: 400;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 62px;
    width: 570px;
}
.section__text > p {
    margin-top: 10px;
}
.section__button {
    font-family: "Open Sans Semi-Bold";
    font-weight: 600;
    font-size: 18px;
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    text-align: center;
    margin-left: 100px;
    margin-top: 27px;
    padding-bottom: 20px;
}
.section__button > p {
    font-family: 'Open Sans Semi-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 20px;
}
img{
    position: relative;
    width: 420px;
    height: 440px;
    left: 752px;
    bottom: 387px;
}